.contact-form-container {
  display: flex;
  flex-direction: column;
}

.contact-form {
  margin-bottom: 20px;
}

#map-container {
  flex-grow: 1;
  height: 300px; /* Default height */
}

#map {
  height: 100%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  margin-bottom: 10px;
}

button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h1 {
  color: #007bff;
}

/* Media Queries */
@media (min-width: 768px) {
  .contact-form-container {
    flex-direction: row;
  }

  .contact-form {
    width: 50%;
    margin-right: 20px;
    margin-bottom: 0;
  }

  #map-container {
    width: 50%;
  }
}
